*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    max-width: 110px;
}
 /* COMMON */
 body{
    font-family: 'Fredoka', sans-serif;
 }

/* JUMBOTRON */
/* PLANS */
/* CONTACTUS */
/* BUSINESS */
/* MOREINFO */
/* TESTIMONIAL */
/* JOINUS */
/* FAQ */
/* FOOTER */