*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
p{
    padding: 20px 0 20px;
}

 /* COMMON */
 body{
    font-family: 'Open Sans', sans-serif;
 }

 .big-container{
    width: 80%;
    margin: 0 auto;
 }
 .small-container{
    width: 60%;
    margin: 0 auto;
 }
 li{
    list-style-type: none;
    font-size: 1rem;
 }
 .flex{
    display: flex;
}
h1{
    font-size: 2.5rem;
}
h2{
    padding-bottom: 20px;
}
.button{
    display: inline-block;
    background-color: #0061FF;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: .8rem;
    line-height: normal;
}
.check{
    color: #0061FF;
}
/* UTILITIES */
.pt-1{
    padding-top: 10px;
}
.pt-2{
    padding-top: 20px;
}
.pt-3{
    padding-top: 30px;
}
.pb-1{
    padding-bottom: 10px;
}
.pb-2{
    padding-bottom: 20px;
}
.pb-3{
    padding-bottom: 30px;
}
.pl-1{
    padding-left: 10px;
}
.pl-2{
    padding-left: 20px;
}
.baseline{
    align-items: baseline;
}
.mt-1{
    margin-top: 10px;
}
/* HEADER */

.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 1rem;
    background-color: white;
    z-index: 999;
}

.logo{
   vertical-align: text-bottom;
    
}
.header-links{
    justify-content: space-between;
}
.header-lists1{
    width: 50%;
    gap: 1rem;
}
.header-lists2{
    width: 50%;
    gap: 1rem;
    justify-content: flex-end;

}
li a {
    text-decoration:none ;
    color: black;
}

/* JUMBOTRON */

.jumbotron{
    padding-top: 5rem;
    width: 100%;
    background-color: #B4D0E7;
   
    margin-bottom: 150px;
}
.main-block{
    /* padding-top: 20px; */
    position: relative;
    top: 80px;
    
}
.jumbo-block{
  
}
.jumbo-img{
    
    width: 70%;
    padding-top: 30px;
    
}
.jumbo-text{
    width: 30%;
}
.jumbo-arrow{
    font-size: 2rem;
    padding-bottom: 20px;
}

/* PLANS */
.plans{
    padding: 30px 0 30px;
    /* debug */
    /* height: 400px;
    background-color: lightcoral; */
}
.plans-row{
    display: table;
   padding-top: 20px;
}
.plans-column{
    /* display: table-cell; */
    /* width: 100%; */
    gap: 10px;
}
.card{
    display: table-cell;
    border: .5px solid lightgray;
}
.plans-enterprice{
    width: 100%;

}
.enterprise-big{
    width: 70%;
}
.enterprice-small{
    width: 30%;
   text-align: right;
}

.radio-btn{
    padding-top: 20px;
    padding-right: 30px;
}
.plan-type{
    border-bottom: .5px solid lightgray;
    text-align: center;
    padding: 5px;
    
}
.main-card{
    
    border-top: none;
    padding: 10px;

}

.enterprise{
    border: .5px solid lightgray;
    border-top: none;
    justify-content: space-between;
}
.card-details{
    padding-bottom: 10px;
    align-items: baseline;
}
.card-details p{
    padding-left: 10px;
}

.link-span{
    padding-left: 10px;
}
.hr-plan{
    width: 30px;
}
.plans-checks p{
    padding-left: 10px;
}
/* CONTACTUS */

.contact-column1{
    width: 60%;
}
.contact-column2{
    width: 40%;
}
.contactus-btn{
    background-color: none;
}
.contact-row

/* BUSINESS */

.business {
    /* debug */
    /* height: 300px;
    background-color: lightpink; */
}
.business-row{
    flex-wrap: wrap;
}
.business-column{
    width: calc(100% / 3);
    /* debug */
    /* height: 150px;
    border: 1px solid red; */
}
.business-card{
    padding: 20px;
}

/* MOREINFO */
.moreinfo{
    padding-top: 80px;
    padding-bottom: 60px;
    /* debug */
    /* height: 300px;
    background-color: lightgreen; */
}
/* TESTIMONIAL */
.testimonial{
    /* debug */
    height: 264px;
    background-color: lightseagreen;
}
.testimonial-row{
    height: 100%;
}
.testimonial-column{
    flex-wrap: wrap;
    width: calc(100% / 3);
    height: 264px;
    /* debug */
    border: 1px solid red;
   
}
.testimonial-box{
    justify-content: center;
    height: 50%;
    width: 50%;
    /* debug */
    border: 1px solid red;
    


}
.t1,
.t2,
.t3,
.t4{
    /* filter: invert(100%) sepia(20%) saturate(2%) hue-rotate(308deg) brightness(123%) contrast(100%); */
    width: 100%;
    height: auto;
    padding: 30px;
}
.t3{
    height: fit-content;
    align-self: center;
    background-color: #0093CE;
    
}
.t1{
    background-color: #A2D39B;
}
.t2{
    background-color: #61082B;
}
.t4{
    background-color: #FF1C1C;
}


/* JOINUS */
.joinus{
    /* debug */
    height: 300px;
    background-color: lightslategray;
}
.joinus-column{
    width: 50%;
    /* debug */
    height: 300px;
    border: 1px solid red;
    
}


/* FAQ */
.faq{
    /* debug */
    height: 300px;
    background-color: lightsteelblue;
}
/* FOOTER */
footer{
     
     background-color: black;
}
.footer{
   /* debug */
   height: 300px;
}
.footer-column{
    width: calc(100% / 5);
    /* debug */
    height: 300px;
    border: 1px solid red;
    
}
