*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    max-width: 110px;
}
 /* COMMON */
 body{
    font-family: 'Fredoka', sans-serif;
 }

 .big-container{
    width: 80%;
    margin: 0 auto;
 }
 .small-container{
    width: 60%;
    margin: 0 auto;
 }
/* HEADER */

.header{
    width: 100%;
    height: 80px;
    /* debug */
    background-color: lightgray;
}
.flex{
    display: flex;
}

/* JUMBOTRON */

.jumbotron{
    width: 100%;
    /* debug */
   height: 300px;
    background-color: lightblue;
}
.main-block{
    /* debug */
    height: 300px;
    background-color: aquamarine;
}
.jumbo-img{
    width: 50%;
    /* debug */
  
    height: 250px;
    border: red 1px solid;
}
.jumbo-text{
    width: 50%;
     /* debug */
     
     height: 250px;
    border: red 1px solid;

}

/* PLANS */
.plans{
    /* debug */
    height: 400px;
    background-color: lightcoral;
}
.plans-column{
    /* debug */
    height: 300px;
    width: calc(100% / 3);
    border: 1px solid red;
   
}
.plans-enterprice{
    /* debug */
    height: 100px;
    width: 100%;
    border: 1px solid red;
    
}

/* CONTACTUS */
.contactus{
    /* debug */
    height: 300px;
    background-color: rgb(174, 144, 238);
}
.contact-column{
    width: 50%;
    /* debug */
    border: 1px solid red;
    height: 300px;


}


/* BUSINESS */
.business{
    /* debug */
    height: 300px;
    background-color: lightpink;
}

.business-column{
    width: calc(100% / 3);
    /* debug */
    height: 150px;
    border: 1px solid red;
    

}
.business-row{
    flex-wrap: wrap;
}

/* MOREINFO */
.moreinfo{
    /* debug */
    height: 300px;
    background-color: lightgreen;
}
/* TESTIMONIAL */
.testimonial{
    /* debug */
    height: 300px;
    background-color: lightseagreen;
}
.testimonial-column{
    width: calc(100% / 3);
    /* debug */
    height: 300px;
    border: 1px solid red;
   
}



/* JOINUS */
.joinus{
    /* debug */
    height: 300px;
    background-color: lightslategray;
}
.joinus-column{
    width: 50%;
    /* debug */
    height: 300px;
    border: 1px solid red;
    
}


/* FAQ */
.faq{
    /* debug */
    height: 300px;
    background-color: lightsteelblue;
}
/* FOOTER */
footer{
     
     background-color: black;
}
.footer{
   /* debug */
   height: 300px;
}
.footer-column{
    width: calc(100% / 5);
    /* debug */
    height: 300px;
    border: 1px solid red;
    
}
